mat-card {

  mat-dialog-content {
    width: 50vw;

    form {
      width: 100%;

      mat-form-field {
        width: 100%;

        textarea {
          width: 100%;
        }
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (max-width: 550px) {
  mat-card {
    mat-dialog-content {
      width: 100%;
    }
  }
}
