<mat-card class="main-card">
  @for (task of tasks; track task.id) {
    <mat-card class="task-card" appearance="outlined">
      <mat-card-title> {{ task.title }}</mat-card-title>
      <mat-card-content>
        <p>Criado em: {{
            task.created_at | date: 'hh:mm dd/MM/yyyy'
          }}</p>
      </mat-card-content>
      <mat-card-footer class="card-footer">
        <mat-chip-set aria-label="Status">
          <mat-chip [ngClass]="task.statusClass">{{ task.status }}</mat-chip>
        </mat-chip-set>
      </mat-card-footer>
      <mat-card-actions class="actions">
        @if (task.status.toLowerCase() !== 'concluído'.toLowerCase()) {
          <button mat-icon-button matTooltipPosition="above" (click)="onChangeStatus(task)" matTooltip="Próxima etapa">
            <mat-icon style="color: green">assignment_turned_in</mat-icon>
          </button>
        }
        <button mat-icon-button (click)="onEdit(task)" matTooltipPosition="above" matTooltip="Editar">
          <mat-icon style="color: blue">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(task)" matTooltipPosition="above" matTooltip="Excluir">
          <mat-icon style="color: red">delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  }
</mat-card>
