mat-card{
  width: 80%;
  max-height: 90%;
  margin: 2em auto;
  text-align: center;

  mat-toolbar{
    display: flex;
    justify-content: center;
  }

  .spinner{
    width: 300px;
    height: 300px;
    margin: 2px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media (max-width: 950px) {
  mat-card {
    width: 90%;
  }
}

@media (max-width: 550px) {
  mat-card {
    width: 95%;
  }
}


